body{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#logo{
    width: 180px;  
    height: 100%
}

#logo-container{
    display: inline-block;
    width: 65%;
}

.container{
    overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 30%;
    
    
}

.container a{
    float: right;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1.1em;
    font-weight: bold;
   
}

.container a:hover{
    background-color: rgb(200,200,200);
    color: black;
    font-weight: bolder;
}

.container a#activeNav{
    background-color: black;
    color: white;
    font-weight: bolder;
    

}


#top{
    background-color: white;
    color: white;
    position: fixed;
    width:100%;
    margin: 0;
    top: 0px;
    left: 0px;
    z-index: 999;
    
}

#map {
    height: 100%;
  }

  #intro{
    padding: 300px;
    
    background: url(images/intro-back.jpg) no-repeat left center;
<<<<<<< HEAD
}

#introtext{
    position: absolute;
    top: 220px;
    left: 6%;
    width: 400px;
    color: yellow;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-size: 3em;
    padding: 10px;
    font-weight: bold;
    background-color: black;
}

#left, #right{
    display: inline-block;
    width: 48%;
    margin: 10px;

}

h1{
    font-weight: bold;
    font-size: 2.5em;
}

#content{
    font-size: 1.5em;
    font-family: 'Lucida Sans'; 
}

#right{
    padding:50px;    
    float: right;
    width: 230px;
    
}

#text{
    width: 90%;
    margin: auto;
}

p{
    text-align: center;
}

#quote{
    font-size: 4em;
=======
>>>>>>> transparent_navbar
}

#introtext{
    position: absolute;
    top: 220px;
    left: 6%;
    width: 400px;
    color: yellow;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-size: 3em;
    padding: 10px;
    font-weight: bold;
    background-color: black;


}



